body {
    padding: 0;
    margin: 0;
    background-color: #ecf0f1;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'Cabin', sans-serif;
    height: 100px;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;

}

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 300px;
}
.row:after {
    padding: 10px;
  content: "";
  display: table;
  clear: both;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #b2bec3;
    transition: 0.3s;
}

.left-container {
    background-color: #c8d6e5;
    width: 50%;
    height: 280px;
    float: left;
}

.right-container {
    background-color: #54a0ff;
    width: 50%;
    height: 280px;
    float: right;
    word-wrap: break-word;
}

#logo-enterprise {
    width: 300px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:80px;
}

#paragraph {
    margin-left: 50px;
    margin-top: 60px;
    font-size: 17px;
    font-family: 'Asap', sans-serif;
    color:white;
}

#ul-list {
    margin-left: 28px;
    font-size: 17px;
    font-family: 'Asap', sans-serif;
    color:white;
}

#embed-youtube {
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 300px;
}

#registration-form {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    font-family: 'Asap', sans-serif;
}

#form-table {
    font-family: 'Cabin', sans-serif;
}

table#form-table {
    border-collapse:separate; 
    border-spacing: 0 0.5em;
}

table td {
    width: 500px;
}

input[type=text] {
    float: right;
    width: 250px;
}

input[type=radio] {
    width: 30px;
    text-align: center;
}

select {
    float: right;
    width: 250px;
    background-color: white;
}

#button-reg {
    width: 350px;
    height: 40px;
    background-color: #54a0ff;
    color:white;
    font-family: 'Cabin', sans-serif;
    border: 0;
    font-size: 18px;
}

#header-assistant {
    font-family: 'Asap', sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

table#table-assistant {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table#table-assistant thead tr {
    height: 70px;
    font-weight: bold;
}

table#table-assistant tbody tr {
    height: 70px;
}
.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&quot;delete-icn.svg&quot;) no-repeat center;
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
#image {
    width: 10px;
    height: 50px;
}